Repository NilFoundation/evm-proof-market: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, solium

pylint:
  name: pylint
  entry: pylint
  language: system
  args:
  - -sn
  - --rcfile=.pylintrc

solium:
  name: Solidity linter
  language: node
  entry: solium
  args:
  - --dir=truffle/contracts/
  - --config=.soliumrc.json
  - --fix
  additional_dependencies:
  - ethlint@1.2.3

Initial notes on project structure
  README.md
Due: none

Updated readme and added diagrams
  README.md
  docs/eth-bidding-diagram.pdf
  docs/eth-bidding-diagram.txt
Due: none

Provided the main logic
  contracts/order_contract.sol
  contracts/proof_contract.sol
  contracts/proof_market_endpoint.sol
  contracts/statement_contract.sol
  contracts/structs.sol
Due: solium

Configured hardhat
  artifacts/build-info/bd859bef0843aebc479d67d4bfcf6c1f.json
  artifacts/contracts/order_contract.sol/OrderContract.dbg.json
  artifacts/contracts/order_contract.sol/OrderContract.json
  artifacts/contracts/proof_contract.sol/ProofContract.dbg.json
  artifacts/contracts/proof_contract.sol/ProofContract.json
  artifacts/contracts/proof_market_endpoint.sol/ProofMarketEndpoint.dbg.json
  artifacts/contracts/proof_market_endpoint.sol/ProofMarketEndpoint.json
  artifacts/contracts/statement_contract.sol/StatementContract.dbg.json
  artifacts/contracts/statement_contract.sol/StatementContract.json
  cache/solidity-files-cache.json
  hardhat.config.js
  package.json
  test/test_proof_market.js
Due: none

Added class diagram
  docs/classDiagram.svg
Due: none

Removed build files
  .gitignore
  artifacts/build-info/bd859bef0843aebc479d67d4bfcf6c1f.json
  artifacts/contracts/order_contract.sol/OrderContract.dbg.json
  artifacts/contracts/order_contract.sol/OrderContract.json
  artifacts/contracts/proof_contract.sol/ProofContract.dbg.json
  artifacts/contracts/proof_contract.sol/ProofContract.json
  artifacts/contracts/proof_market_endpoint.sol/ProofMarketEndpoint.dbg.json
  artifacts/contracts/proof_market_endpoint.sol/ProofMarketEndpoint.json
  artifacts/contracts/statement_contract.sol/StatementContract.dbg.json
  artifacts/contracts/statement_contract.sol/StatementContract.json
  cache/solidity-files-cache.json
Due: none

Removed timestamps, added statements
  README.md
  contracts/order_contract.sol
  contracts/proof_contract.sol
  contracts/proof_market_endpoint.sol
  contracts/statement_contract.sol
  contracts/structs.sol
  docs/classDiagram.svg
Due: solium

Moved statement logic to lib
  contracts/statement_contract.sol
  contracts/statement_lib.sol
Due: solium

Requested structure changes
  README.md
  contracts/libraries/order_lib.sol
  contracts/libraries/payment_lib.sol
  contracts/libraries/statement_lib.sol
  contracts/libraries/tools.sol
  contracts/order_contract.sol
  contracts/proof_contract.sol
  contracts/proof_market_endpoint.sol
  contracts/statement_contract.sol
  contracts/structs.sol
  docs/classDiagram.svg
  package.json
  test/test_proof_market.js
Due: solium

Added payment logic
  contracts/libraries/order_lib.sol
  contracts/libraries/payment_lib.sol
  contracts/libraries/statement_lib.sol
  contracts/order_contract.sol
  contracts/proof_market_endpoint.sol
  contracts/statement_contract.sol
  docs/classDiagram.svg
  package.json
  test/test_proof_market.js
Due: solium

Structural changes
  README.md
  contracts/libraries/order_lib.sol
  contracts/libraries/statement_lib.sol
  contracts/order_contract.sol
  contracts/proof_market_endpoint.sol
  contracts/statement_contract.sol
Due: solium

Statement basic tests
  contracts/libraries/statement_lib.sol
  contracts/proof_market_endpoint.sol
  contracts/statement_contract.sol
  docs/classDiagram.svg
  test/fixtures.js
  test/test_statement.js
Due: solium

Inheritance->Composition
  contracts/order_contract.sol
  contracts/proof_market_endpoint.sol
  contracts/statement_contract.sol
  docs/classDiagram.svg
  test/fixtures.js
  test/test_statement.js
Due: solium

Provided the main inteface
  contracts/libraries/order_lib.sol
  contracts/libraries/statement_lib.sol
  contracts/order_contract.sol
  contracts/proof_market_endpoint.sol
  contracts/statement_contract.sol
  docs/classDiagram.svg
Due: solium

Added an access control
  contracts/order_contract.sol
  contracts/proof_market_endpoint.sol
  contracts/statement_contract.sol
Due: solium

Basic order tests
  contracts/mock/mock_erc20_contract.sol
  docs/classDiagram.svg
  test/fixtures.js
  test/test_main.js
  test/test_statement.js
Due: solium

Requested changes
  contracts/libraries/statement_lib.sol
  contracts/order_contract.sol
  contracts/proof_market_endpoint.sol
  contracts/statement_contract.sol
  docs/classDiagram.svg
Due: solium

Added tests & changed struct fields
  README.md
  contracts/libraries/order_lib.sol
  contracts/libraries/statement_lib.sol
  contracts/libraries/tools.sol
  contracts/order_contract.sol
  contracts/proof_market_endpoint.sol
  docs/classDiagram.svg
  test/fixtures.js
  test/test_main.js
  test/test_proof_market.js
Due: solium

move struct from readme, move structs into library
  .pre-commit-config.yaml
  README.md
  contracts/libraries/order_lib.sol
  contracts/libraries/statement_lib.sol
  contracts/libraries/tools.sol
  contracts/mock/mock_erc20_contract.sol
  contracts/order_contract.sol
  contracts/proof_market_endpoint.sol
  contracts/statement_contract.sol
  doc/overview.md
  test/test_main.js
  truffle/contracts/request_storage.sol
  truffle/migrations/.gitkeep
  truffle/package.json
  truffle/test/constants.py
  truffle/test/storage.py
  truffle/test/web3_test.py
  truffle/truffle-config.js
Due: pylint, solium

Minor fixes, replaced overwiew
  contracts/order_contract.sol
  contracts/proof_market_endpoint.sol
  contracts/statement_contract.sol
  docs/classDiagram.svg
  docs/overview.md
Due: solium

Added interfaces & tests via GH actions
  .github/workflows/hardhat_tests.yml
  .gitignore
  contracts/interfaces/proof_market_endpoint.sol
  package-lock.json
Due: solium

Update hardhat_tests.yml
  .github/workflows/hardhat_tests.yml
Due: none

Added gas report
  hardhat.config.js
  package-lock.json
  package.json
Due: none

Added statement data checks as modifiers
  contracts/libraries/statement_lib.sol
  contracts/proof_market_endpoint.sol
  contracts/statement_contract.sol
  docs/classDiagram.svg
  test/test_main.js
Due: solium

Added Access control tests
  test/test_main.js
Due: none

Isolated storage logic
  contracts/libraries/order_lib.sol
  contracts/libraries/statement_lib.sol
  contracts/order_contract.sol
  contracts/proof_market_endpoint.sol
  contracts/statement_contract.sol
  docs/classDiagram.svg
  test/test_main.js
Due: solium

Interface updates
  contracts/interfaces/proof_market_endpoint.sol
  contracts/proof_market_endpoint.sol
  test/test_main.js
Due: solium

Mock Token access changed
  contracts/mock/mock_erc20_contract.sol
  docs/classDiagram.svg
Due: solium

Added exemplary deploy and trackEvent scripts
  .gitignore
  README.md
  scripts/deploy.js
  scripts/interact.js
  scripts/trackEvents.js
Due: none

Requested CI changes
  .github/workflows/hardhat_tests.yml
  scripts/setup.sh
Due: none

Set executable permission for setup.sh
  scripts/setup.sh
Due: none

Use PM id for statements
  contracts/libraries/statement_lib.sol
  contracts/proof_market_endpoint.sol
  contracts/statement_contract.sol
  docs/classDiagram.svg
  test/test_main.js
Due: solium

Removed 2 aux contracts
  contracts/order_contract.sol
  contracts/proof_market_endpoint.sol
  contracts/statement_contract.sol
  docs/classDiagram.svg
Due: solium

Minor tests and scripts updates
  scripts/interact.js
  test/fixtures.js
  test/test_main.js
Due: none

Made the app upgradable
  contracts/proof_market_endpoint.sol
  hardhat.config.js
  package-lock.json
  package.json
  test/fixtures.js
Due: solium

Storage layout updates
  README.md
  contracts/libraries/order_lib.sol
  contracts/libraries/statement_lib.sol
  contracts/proof_market_endpoint.sol
  hardhat.config.js
  package-lock.json
  package.json
  scripts/upgrade.js
Due: solium

Added tests for upgrades
  contracts/test/interfaces/proof_market_endpoint.sol
  contracts/test/libraries/order_lib.sol
  contracts/test/libraries/statement_lib.sol
  contracts/test/libraries/tools.sol
  contracts/test/mock_erc20_contract.sol
  contracts/test/proof_market_endpoint_v2.sol
  docs/classDiagram.svg
  test/test_main.js
Due: solium

Requested updates for PR #3
  contracts/libraries/order_lib.sol
  contracts/proof_market_endpoint.sol
  test/test_main.js
Due: solium

Simplified upgrade test
  contracts/libraries/statement_lib.sol
  contracts/proof_market_endpoint.sol
  contracts/test/interfaces/proof_market_endpoint.sol
  contracts/test/libraries/order_lib.sol
  contracts/test/libraries/statement_lib.sol
  contracts/test/libraries/tools.sol
  contracts/test/proof_market_endpoint_v2.sol
  contracts/test/upgrade-feature/proof_market_endpoint_v2.sol
  test/test_main.js
Due: solium

Tests updates & input checks
  contracts/libraries/order_lib.sol
  contracts/proof_market_endpoint.sol
  hardhat.config.js
  test/test_main.js
Due: solium

Path conditions:
  pylint: any of: \.py$
  solium: any of: \.sol$
